.container {
  max-width: 100%;
  height: 100vh;
}

.c-size {
  width: 340px;
  height: 200px;
  background: var(--black-color);
  overflow: hidden;
  border-radius: 15px;

}

.swiper {
  width: 100%;
}

.mob__screen {
  width: 400px;
  margin: auto;
  background: var(--gradient-color);
  padding: 35px 14px;
  height: auto;
  overflow: hidden;

  .header h1 {
    font-family: var(--header-font);
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    text-shadow: var(--text-shadow);
  }

  .curousel {
    margin: 3rem auto 0 auto;
    width: 340px;
    height: 200px;
    gap: 15px;

    &__one {
      display: flex;
      align-items: center;
      gap: 20px;

      .prof-img {
        width: 159px;
        height: 200px;

        & img {
          width: 100%;
          height: 200px;
        }
      }

      .prof-bio {
        max-width: 118px;

        h1 {
          font-size: 27px;
          letter-spacing: -0.41px;
          margin-bottom: 9px;
        }

        span {
          color: var(--primary-color-light);
          font-size: 18px;
          letter-spacing: -0.41px;
        }
      }
    }

    &__two {
      display: flex;
      align-items: center;
      position: relative;

      .work-bio {
        width: 160px;
        padding-left: 35px;

        h1 {
          font-size: 27px;
          margin-bottom: 9px;
        }

        span {
          font-size: 18px;
          color: var(--primary-color-light);
        }
      }

      .work-img {
        position: absolute;
        left: 170px;
        top: -21px;

        width: 248px;
        height: 248px;
        border-radius: 50%;
        overflow: hidden;

        & img {
          width: 100%;
        }
      }
    }

    &__three {
      position: relative;

      .bg-img {
        img {
          width: 100%;
          height: auto;
          filter: blur(2.5px);
        }

        span {
          position: absolute;
          width: 268px;
          left: 37px;
          top: 61px;
          text-align: center;
          font-style: italic;
          font-size: 18px;
        }
      }
    }
  }

  .sharebtn {
    background-color: var(--secondary-color);
    font-weight: 600;
    width: max-content;
    padding: 8px 25px;
    border-radius: 20px;
    margin: 28px auto;
    display: flex;
    gap: 2px;
    align-items: center;
    cursor: pointer;
  }

  .popup {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__inner {
      position: relative;
      padding: 32px;
      width: 100%;
      max-width: 360px;

      backdrop-filter: blur(6px) saturate(100%);
      -webkit-backdrop-filter: blur(6px) saturate(100%);
      background-color: rgba(17, 25, 40, 0.75);
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.125);

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .close-btn {
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer;
    }

    .social-share {
      width: 260px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 12px;
    }

    .input_group {
      margin-top: 1.5rem;
      width: 80%;
      height: 42px;
      border-radius: 10px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 8px 0 8px;

      i {
        display: flex;
        font-size: 25px;
        color: rgb(157, 165, 178);
      }

      input {
        width: 65%;
        height: 40px;
        border: 1px solid white;
        outline: none;
        color: rgb(133, 137, 142);
        font-size: 15px;
      }

      button {
        width: 60px;
        height: 33px;
        border-radius: 6px;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
      }

      .copy {
        background-color: rgb(77, 144, 253);
      }

      .copied {
        background-color: rgb(39, 196, 82);
      }
    }
  }


  .profile-links {
    height: 312px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 6px;

    a {
      color: var(--white-color);
    }

    .link-tab {
      max-width: 179px;
      height: 100px;
      background-color: var(--primary-color);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px;
      cursor: pointer;
      transition: ease-in 0.2s;

      span {
        color: var(--white-color);
      }

      h5 {
        font-weight: 400;
        font-size: 16px;
      }

      &:hover {
        background-color: var(--primary-color-light);
        transform: scale(1.02)
      }
    }
  }

  .footer {
    padding: 4rem 0 0;

    h4 {
      text-align: center;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.497);
    }
  }
}