/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Allura&family=DM+Sans:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-color: #333333;
  --secondary-color: #01877B;
  --primary-color-light: #282A3A;
  --gradient-color: linear-gradient(180deg, #2c3034, #191e22);
  --black-color: #000000;
  --white-color: #ffffff;
  --body-color: #4c545a;
  --text-shadow: 0px 5px 14px rgba(255, 255, 255, 0.3);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "DM Sans", sans-serif;
  --header-font: "Allura", cursive;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */
